absl-py
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
attrs
auditwheel
Babel
backcall
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
clang
click
cloudpickle
colorama
commonmark
contextlib2
cryptography
cycler
Cython
debugpy
decorator
defusedxml
dill
dm-tree
docker
docutils
dynaconf
entrypoints
etils
executing
fastjsonschema
filelock
flatbuffers
flatten-json
fonttools
gast
gdown
gin-config
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
httplib2
idna
imageio
imgaug
importlib-metadata
importlib-resources
install
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jeepney
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kaggle
keras
keras-nightly
Keras-Preprocessing
keyring
kiwisolver
libclang
lvis
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mkl-fft
mkl-service
munkres
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
oauth2client
oauthlib
opencv-python
opencv-python-headless
opt-einsum
packaging
pandas
pandocfilters
parso
pascal-voc-writer
pbr
pexpect
pickleshare
Pillow
pip
pkginfo
ply
portalocker
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycparser
pyelftools
pygame
Pygments
pyparsing
PyQt5-sip
pyrsistent
PySocks
python-dateutil
python-slugify
python-systemd
pytz
PyWavelets
PyYAML
pyzmq
qtconsole
QtPy
readme-renderer
regex
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rsa
sacrebleu
scikit-image
scikit-learn
scipy
SecretStorage
Send2Trash
sentencepiece
seqeval
setuptools
Shapely
six
sniffio
soupsieve
stack-data
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tensorflow-io
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-model-optimization
tensorflow-text
termcolor
terminado
testresources
text-unidecode
tf-estimator-nightly
tf-models-official
tf-slim
threadpoolctl
tifffile
tinycss2
toml
tornado
tqdm
traitlets
twine
typeguard
typing-extensions
uritemplate
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
zipp
